attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-JsonSchema==0.1.1
freezegun==0.3.12
gunicorn==20.0.4
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
more-itertools==8.0.0
packaging==19.2
pluggy==0.13.1
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.5
pyrsistent==0.15.6
pytest==5.3.1
python-dateutil==2.8.1
python-json-logger==0.1.11
requests==2.22.0
six==1.13.0
urllib3==1.25.8
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
